*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}
body{
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    color: #1d1d1b;
    font-family: 'Lobster', cursive;
}
h1{
    width: 100%;
    background-image: url("images/bg.jpg");
    background-size: cover;
    text-align: center;
    font-size: 50px;
    padding: 50px 0;
    color: #e9e9e9;
    text-shadow: 2px 2px 4px black;
}
nav{
    width: 100%;
    display: flex;
    justify-content: center;
    background-color: #e9e9e9;
    border-top: 2px solid #1d1d1b;
    border-bottom: 2px solid #1d1d1b;
}
nav ul{
    display: flex;
    list-style: none;
    font-size: 25px;
}
nav ul li{
    width: 200px;
    padding: 10px 50px;
    cursor: pointer;
    text-align: center;
}
nav ul li:hover{
    background: linear-gradient(to right, green 30%, white 30% 70%, red 70%);
}
nav a, nav a:visited, nav a:active{
    color: #1d1d1b;
    text-decoration: none;
}
main{
    padding: 50px;
    font-size: 20px;
}
.menu tr{
    text-align: left;
}
.menu th, .menu td{
    padding: 10px;
}
.menu td{
    font-size: 16px;
}
.menu td span{
    font-size: 12px;
    margin-right: 5px;
}
.menu td span:not(:last-child)::after{
    content: ",";
}